<html ng-app ="root">
<head>
<meta charset="utf-8">
<style>
body{
	margin:0;
	
}
header{
	background-color: #b3c6ff;
	height: 105px;
	text-align:center;
}
.main{
	height:90%;
	margin:0;
	font-family: Courier New;
	
}
.levo{
	height:100%;
	width:10%;
	float: left;
	margin:5px;
}
.GUI{
	margin-left: 15%;
}
#IzpisTovarn{
	display: none;
}
#Dodajdelavca{
	display: none;
	margin:0;
}
#Dodajdelavca table{
	margin-top:25px;
}
#Dodajdelavca td{
	border: none;
	margin-top:5px;
	width:250px;
}
#tovid{
	display: inline;
}
#ModifyZ{
	width:100%;
	margin:0;
}
#ModifyZ div{
	float:left;
	min-width:5%;
	max-width:20%;
	margin:30px;
	height:20px;
	margin-top:5px;
	margin-left:0;
}
#ModifyZ input{
	min-height:15px;
	min-width:50px;
	max-width:150px;
	padding:0;
}
#ModifyZ button{
	margin-bottom:0;
	float:right;
	margin-top:45px;
}
footer{
	background-color:#e6e6e6;
	margin:0;
	height:80px;
	width:100%;
	bottom:0px;
	text-align:center;
	padding:2px;
	font-size:15px;
}

</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
<script src="js/root.js"></script>
<script>
	function DodajDelavca2(){
		document.getElementById("Dodajdelavca").style="display:block";
	}
	function DodajdelavcaTable2(){
		document.getElementById("DodajdelavcaTable").style="display:block";
		}
	function Dodajtovarno(){
		document.getElementById("addTovarna").style="display:block";
	}

	function DodajTovarnoBack(){
		document.getElementById("addTovarna").style="display:none";
	}
	function DodajDelavcaBack(){
		document.getElementById("Dodajdelavca").style="display:none";
		document.getElementById("DodajdelavcaTable").style="display:none";
	}
	function ModifyTenable(){
		document.getElementById("ModifyT").style="display:block";
	}
	function ModifyZenable(){
		document.getElementById("ModifyZ").style="display:block";
	}
	function IzpisTovarne(){
		console.log("Hello");
		document.getElementById("IzpisTovarn").style="display:block";
	}
	function SpremeniTovarnoBack(){
		document.getElementById("ModifyT").style="display:none";
	}
</script>
</head>
<body>
	<header>
		<h1>Seminarska naloga za odprto kodo</h1>
		<h3>Program za beleženje delavcev v tovarni</h3>
	</header>
	<div class="main" ng-controller="main">
		<div class="levo">
			<button onclick="IzpisTovarne()" ng-click="tovarna()">Get Tovarna</button><br>
			<button onclick="Dodajtovarno()">Dodaj Tovarno</button>
		</div>
		<div class="GUI">
		<div id="addTovarna" style="display:none">
			<input ng-model="imeTovarne" placeholder="Vpisi ime tovarne"></input>
			<button ng-click="addTovarna()">Spremeni</button>
			<button onclick="DodajTovarnoBack()">Nazaj</button><br>
		</div>
		<table id="IzpisTovarn">
			<tr>
				<td>Id</td>
				<td>Naziv</td>
			<tr ng-repeat="t in tovarne">
				<td>{{t.id}}</td>
				<td>{{t.naziv}}</td>
				<td><button onclick="DodajDelavca2()" ng-click="dodajz(t)">Dodaj Zaposleni</button></td>
				<td><button onclick="ModifyTenable()" ng-click="$parent.ModifyT(t)">Edit</button></td>
				<td><button ng-click="deleteT(t.id)">Delete</button></td>
			</tr>
		</table>
		<table id="ModifyT" style="display:none">
			<tr>
				<td>Id</td>
				<td>Naziv</td>
			<tr>
				<td><input ng-model="tovar.naziv"></input></td>
			</tr>
			<tr>
				<td><button ng-click="SpremeniT(tovar)">Spremeni</button></td>
				<td><button onclick="SpremeniTovarnoBack()">Nazaj</button><br>
			</tr>

		</table>
		<div id="Dodajdelavca" style="display:none">
		<table>
			<td>
				<p>Izberite id tovarne</p>
			</td>
			<td>
				<div id="tovid" ng-repeat="t in tovarne">
    				<input type="radio" ng-model="$parent.tovid" value="{{t.id}}" name="tovid">{{t.id}}</input>
				</div>
					<!--<tr ng-repeat="t in tovarne" >
						<td><input type="radio" ng-model="$parent.tovid" value="{{t.id}}" name="tovid">{{t.id}}</input></td>
					</tr>-->
			</td>
			<tr>
				<td><p>Vpisi ime delavca: </p></td>
				<td><input type="text" id="ime" ng-model="ImeDelavca" placeholder="enter a name"></input></td><tr>
				<td><p>Vpisi Rojstni dan delvca: </p></td>
				<td><input type="date" id="Rojstni-datum" ng-model="RojstniDatum" placeholder="vpisi rojstni datum"></input></td><tr>
			<td>
				<p>Izberite spol</p>
			</td>
			<td>
				<input type="radio" ng-model="$parent.Spol" value="moski" name="spolM">moski</input>
				<input type="radio" ng-model="$parent.Spol" value="zenska" name="spolZ">zenska</input>
			</td>
			<tr>
			<td>
			<p>Vpisi starost delavca:</p>
			</td>
			<td><input type="number" id="starost" ng-model="Starost" placeholder="vpisi starost"></input></td><tr>
			<td><p>Vpisi sektor delavca: </p></td>
			<td><input type="text" id="sektor" ng-model="sektor" placeholder="vpisi sektor"></input></td><tr>
			<td><p>Vpisi izobrazbo delavca: </p></td>
			<td><input type="text" id="izobrazba" ng-model="izobrazba" placeholder="vpisi izobrazbo"></input></td><tr>
			<td><p>Vpisi Tip delavca: </p></td>
			<td><input type="text" id="tip" ng-model="tip" placeholder="vpisi tip"></input></td><tr>
		</table>
		<button ng-click="getUserData()">Get data</button><br>
		<button onclick="DodajdelavcaTable2()" ng-click="printZ()">Print zaposleni</button><br>

		<table id="DodajdelavcaTable" style="display:none">
			<tr>
				<td>Id</td>
				<td>Id Tovarne</td>
				<td>Ime in Priimek</td>
				<td>Datum rojstva</td>
				<td>Spol</td>
				<td>Starost</td>
				<td>Sektor</td>
				<td>Izobrazba</td>
			</tr>
			<tr ng-repeat="z in zaposleni track by z.id">
				<td>{{z.id}}</td>
				<td>{{z.idTov}}</td>
				<td>{{z.ImeDelavca}}</td>
				<td>{{z.RojstniDatum}}</td>
				<td>{{z.Spol}}</td>
				<td>{{z.Starost}}</td>
				<td>{{z.sektor}}</td>
				<td>{{z.izobrazba}}</td>
				<td><button onclick="ModifyZenable()" ng-click="$parent.ModifyZ(z)">Edit</button></td>
				<td><button ng-click="$parent.deleteZ(z.id)">Delete</button></td>
			</tr>
		</table>
		<br>
		<button onclick="DodajDelavcaBack()">Nazaj</button><br>
		<div id="ModifyZ" style="display:none">
			<div>
				<p>Ime: </p>
				<input ng-model="zap.imeDelavca"></input>
			</div>
			<div>
				<p>Sektor: </p>
				<input ng-model="zap.sektor"></input>
			</div>
			<div>
				<p>Izobrazba: </p>
				<input ng-model="zap.izobrazba"></input>
			</div>
			<div>
				<p>Id tovarne: </p>
				<input ng-model="zap.idTov"></input>
			</div>
			<div>
			<button ng-click="SpremeniZ(zap)">Spremeni</button>
			</div>
	</div>
	</div>
	</div>
	</div>
	<footer>
		<h1>Nejc Boltez</h1>
	</footer>
</body>
</html>
